<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<!-- mapper가 여러개 일때 namespace 로 구분한다. -->
<mapper namespace="auction">
	<select id="list" parameterType="String" resultType="com.ict.vo.VO">
		select * from A_P where category = #{category}
	</select>
	<insert id="insert" parameterType="com.ict.vo.VO">
		insert into A_P values(a_p_seq.nextval,#{p_name},#{s_price},#{s_price},#{a_price},#{p_img},#{p_info},#{trade},sysdate,replace(#{e_day},'T',' '),#{u_num},#{category} )
	</insert>
	<select id="login" parameterType="com.ict.vo.MVO" resultType="com.ict.vo.MVO">
		select * from A_U where u_id = #{u_id} and u_pw = #{u_pw}
	</select>
	<select id="userOne" parameterType="String" resultType="com.ict.vo.MVO">
		select * from A_U where u_id = #{u_id}
	</select>
	<select id="oneList" parameterType="int" resultType="com.ict.vo.VO">
		select * from A_P where p_num = #{p_num}
	</select>
	<!-- 
	<select id="onelist" parameterType="String" resultType="com.ict.vo.VO">
		select * from shop_t where idx = #{idx}
	</select>
	<select id="login" parameterType="com.ict.vo.MVO" resultType="com.ict.vo.MVO">
		select * from members where id = #{id} and pw = #{pw}
	</select>
	<select id="selectCart" parameterType="map" resultType="com.ict.vo.CVO">
		select * from cart where id = #{id} and p_num = #{p_num}
	</select>
	<insert id="cartInsert" parameterType="com.ict.vo.CVO">
		insert into cart values(cart_seq.nextval, #{p_num}, #{p_name}, #{p_price}, #{p_saleprice}, #{amount}, #{id})
	</insert>
	<update id="cartUpdate" parameterType="com.ict.vo.CVO">
		update cart set amount = amount + 1 where id=#{id} and p_num = #{p_num}
	</update>
	<select id="cartList" parameterType="String" resultType="com.ict.vo.CVO">
		select * from cart where id = #{id}
	</select>
	
	<delete id="cartDelete" parameterType="com.ict.vo.CVO">
		delete from cart where id=#{id} and p_num = #{p_num} 
	</delete>
	
	<update id="cartAmountUpdate" parameterType="com.ict.vo.CVO">
		update cart set amount = #{amount} where id=#{id} and p_num=#{p_num}
	</update>
	
	<insert id="productAdd" parameterType="com.ict.vo.VO">
		insert into shop_t values(shop_seq.nextval, #{category}, #{p_num}, #{p_name}, #{p_company},
		#{p_price}, #{p_saleprice}, #{p_image_s},#{p_image_l}, #{p_content}, sysdate)
	</insert>
	 -->
</mapper>







